@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=PT+Sans+Narrow&display=swap');

body h1, h3 {
    font-family: 'Akshar', sans-serif;
}

body p {
    font-family: 'PT Sans Narrow', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.mid-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.button {
    background: none;
    border: none;
    outline: none;
    font-size: 3rem;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.3);
    transition: 50ms;
}

.scores {
    margin: 35px;
    display: flex;
    justify-content: space-evenly;
}

