@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: gainsboro;
}

body h1, h3 {
    font-family: 'Akshar', sans-serif;
}

body p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
}

nav {
    background-color: aliceblue;
    padding: 15px 0 15px 0;
}

footer {
    display: flex;
    justify-content: center;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.mid-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0 25px 0;
}

.rock-button {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

.rock-button:hover {
    transform: scale(1.3);
    transition: 50ms;
}

.paper-button {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

.paper-button:hover {
    transform: scale(1.3);
    transition: 50ms;
}

.scissors-button {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

.scissors-button:hover {
    transform: scale(1.3);
    transition: 50ms;
}

.lizard-button {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

.lizard-button:hover {
    transform: scale(1.3);
    transition: 50ms;
}

.spock-button {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

.spock-button:hover {
    transform: scale(1.3);
    transition: 50ms;
}

.scores {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.player-score {
    font-size: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.computer-score {
    font-size: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.score-display {
    display: flex;
    justify-content: space-evenly;
}

.winning {
    font-size: 3rem;
    opacity: 1;
}

.losing {
    font-size: 2rem;
    opacity: .5;
}