@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: gainsboro;
}

body h1, h3, h4, h5 {
    font-family: 'Akshar', sans-serif;
}

body p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
}

nav {
    background-color: aliceblue;
    padding: 15px 0 15px 0;
}

footer {
    display: flex;
    justify-content: center;
}

#main-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

#mid-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

#title {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.options {
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0 25px 0;
}

#rock {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

#rock:hover {
    transform: scale(1.3);
    transition: 50ms;
}

#paper {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

#paper:hover {
    transform: scale(1.3);
    transition: 50ms;
}

#scissors {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

#scissors:hover {
    transform: scale(1.3);
    transition: 50ms;
}

#lizard {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

#lizard:hover {
    transform: scale(1.3);
    transition: 50ms;
}

#spock {
    background: none;
    border: none;
    outline: none;
    font-size: 3.5rem;
    cursor: pointer;
}

#spock:hover {
    transform: scale(1.3);
    transition: 50ms;
}

#scores {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

#player-score {
    font-size: 35px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#computer-score {
    font-size: 35px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

#game-over {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-size: 55px;
    letter-spacing: 5px;
}
